<div>
  <div class="text-center mb-8">
    <h1 class="block text-2xl font-bold text-gray-800 mt-6">
      Forgot Password
    </h1>
    <p class="mt-2 text-sm text-gray-600">
      Remember your password?
      <a
        href="#"
        class="text-[var(--color-primary)] hover:underline cursor-pointer"
        (click)="onBack($event)"
      >
        Sign in here
      </a>
    </p>
  </div>

  <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
    <div class="grid gap-y-4">
      <div>
        <label for="forgot-phone" class="block text-sm mb-2">
          Phone number
        </label>
        <input
          type="tel"
          id="forgot-phone"
          formControlName="phone"
          class="py-2.5 sm:py-3 px-4 w-full border border-gray-300 rounded-lg bg-[var(--color-secondary)] sm:text-sm focus:border-blue-500 focus:ring-blue-500"
          [ngClass]="{
            'border-red-500': submitted && ff['phone'].invalid
          }"
        />
        <p
          *ngIf="submitted && ff['phone'].errors"
          class="text-xs text-red-600 mt-2"
        >
          <span *ngIf="ff['phone'].errors?.['required']">
            Phone number is required.
          </span>
          <span *ngIf="ff['phone'].errors?.['pattern']">
            Invalid phone format.
          </span>
        </p>
      </div>

      <button
        type="submit"
        class="w-full py-3 px-4 bg-[var(--color-primary)] text-white rounded-lg hover:bg-[var(--color-primary-elevated)]"
      >
        Reset password
      </button>
    </div>
  </form>
</div>
