<div class="px-10 pb-8 overflow-y-auto 
    [&::-webkit-scrollbar]:w-2
    [&::-webkit-scrollbar-track]:bg-gray-100
    [&::-webkit-scrollbar-thumb]:bg-gray-300">
    <div class="text-center mb-8">
        <h1 class="text-2xl font-bold text-gray-800 mt-6">Lease Your Property</h1>
        <p class="mt-2 text-sm text-gray-600">
        Fill in the details below to list your property.
        </p>
    </div>

    <form [formGroup]="propertyForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="grid gap-y-5">

            <!-- Title -->
            <div>
                <label class="block text-sm mb-2">Title</label>
                <input
                placeholder="Enter title"
                type="text"
                formControlName="title"
                class="py-2.5 sm:py-3 px-4 w-full border border-gray-300 rounded-lg sm:text-sm placeholder-neutral-500 focus:outline-none focus:ring-[var(--color-primary)] focus:border-[var(--color-primary)]"
                [ngClass]="{ 'border-red-500': submitted && pf['title'].invalid }"
                />
                <p *ngIf="submitted && pf['title'].errors?.['required']" class="text-xs text-red-600 mt-2">
                Title is required.
                </p>
            </div>

            <!-- Property Type -->
            <div>
                <label class="block text-sm mb-2">Property Type</label>
                <select
                formControlName="propertyType"
                class="py-2.5 sm:py-3 px-4 w-full border border-gray-300 rounded-lg sm:text-sm focus:outline-none focus:ring-[var(--color-primary)] focus:border-[var(--color-primary)]"
                >
                    <option selected="">Select your property type</option>
                    <option value="boys">Room</option>
                    <option value="boys">Flat</option>
                    <option value="girls">PG</option>
                    <option value="unisex">Hostel</option>
                    <option value="unisex">Shop</option>
                </select>
            </div>

            <!-- Address -->
            <div>
                <label class="block text-sm mb-2">Property Description</label>
                <textarea
                placeholder="Describe your property"
                formControlName="description"
                class="py-2.5 px-4 w-full border border-gray-300 rounded-lg sm:text-sm resize-none placeholder-neutral-500 focus:outline-none focus:ring-[var(--color-primary)] focus:border-[var(--color-primary)]"
                [ngClass]="{ 'border-red-500': submitted && pf['description'].invalid }"
                ></textarea>
                <p *ngIf="submitted && pf['description'].errors?.['required']" class="text-xs text-red-600 mt-2">
                    Property Description is required.
                </p>
            </div>

            <!-- Rooms -->
            <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 lg:gap-6">
                <div>
                <label class="block mb-2 text-sm font-medium text-gray-700">Bedrooms</label>
                <input formControlName="bedrooms" type="number" min="0"
                    class="py-2.5 px-4 w-full border border-gray-300 rounded-lg sm:text-sm resize-none focus:outline-none focus:ring-[var(--color-primary)] focus:border-[var(--color-primary)]">
                </div>
                <div>
                <label class="block mb-2 text-sm font-medium text-gray-700">Bathrooms</label>
                <input formControlName="bathrooms" type="number" min="0"
                    class="py-2.5 px-4 w-full border border-gray-300 rounded-lg sm:text-sm resize-none focus:outline-none focus:ring-[var(--color-primary)] focus:border-[var(--color-primary)]">
                </div>
                <div>
                <label class="block mb-2 text-sm font-medium text-gray-700">Kitchen</label>
                <input formControlName="kitchen" type="number" min="0"
                    class="py-2.5 px-4 w-full border border-gray-300 rounded-lg sm:text-sm resize-none focus:outline-none focus:ring-[var(--color-primary)] focus:border-[var(--color-primary)]">
                </div>
            </div>

            <!-- District -->
            <div>
                <label class="block text-sm mb-2">District</label>
                <select
                formControlName="propertyType"
                class="py-2.5 sm:py-3 px-4 w-full border border-gray-300 rounded-lg sm:text-sm focus:outline-none focus:ring-[var(--color-primary)] focus:border-[var(--color-primary)]"
                >
                    <option selected="">Select district</option>
                    <option value="boys">Gangtok</option>
                    <option value="girls">Namchi</option>
                    <option value="unisex">Mangan</option>
                    <option value="boys">Gyalshing</option>
                    <option value="girls">Pakyong</option>
                    <option value="unisex">Soreng</option>
                </select>
            </div>

            <!-- Area -->
            <div>
                <label class="block text-sm mb-2">Area</label>
                <input
                type="text"
                formControlName="area"
                class="py-2.5 sm:py-3 px-4 w-full border border-gray-300 rounded-lg sm:text-sm focus:outline-none focus:ring-[var(--color-primary)] focus:border-[var(--color-primary)]"
                [ngClass]="{ 'border-red-500': submitted && pf['area'].invalid }"
                />
                <p *ngIf="submitted && pf['area'].errors?.['required']" class="text-xs text-red-600 mt-2">
                Area is required.
                </p>
            </div>

            <!-- Address -->
            <div>
                <label class="block text-sm mb-2">Address</label>
                <textarea
                formControlName="address"
                rows="3"
                    class="py-2.5 px-4 w-full border border-gray-300 rounded-lg sm:text-sm resize-none focus:outline-none focus:ring-[var(--color-primary)] focus:border-[var(--color-primary)]"
                [ngClass]="{ 'border-red-500': submitted && pf['address'].invalid }"
                ></textarea>
                <p *ngIf="submitted && pf['address'].errors?.['required']" class="text-xs text-red-600 mt-2">
                Address is required.
                </p>
            </div>

            <!-- Price -->
            <div>
                <label class="block text-sm mb-2">Price</label>
                <div class="relative">
                <input
                    type="number"
                    formControlName="price"
                    class="ps-9 pe-16 py-2.5 sm:py-3 px-4 w-full border border-gray-300 rounded-lg sm:text-sm focus:outline-none focus:ring-[var(--color-primary)] focus:border-[var(--color-primary)]"
                    placeholder="0.00"
                    [ngClass]="{ 'border-red-500': submitted && pf['price'].invalid }"
                />
                <div class="absolute inset-y-0 start-0 flex items-center ps-4 pointer-events-none text-gray-500">₹</div>
                <div class="absolute inset-y-0 end-0 flex items-center pe-4 pointer-events-none text-gray-500">INR</div>
                </div>
                <p *ngIf="submitted && pf['price'].errors?.['required']" class="text-xs text-red-600 mt-2">
                Price is required.
                </p>
            </div>

            <div>
                <label for="availableFrom" class="block text-sm font-medium text-gray-700 mb-2">Available From</label>
                <input
                    type="date"
                    id="availableFrom"
                    name="availableFrom"
                    class="py-2.5 px-4 w-full border border-gray-300 rounded-lg sm:text-sm resize-none focus:outline-none focus:ring-[var(--color-primary)] focus:border-[var(--color-primary)]"
                />
            </div>


            <!-- Gender Preference -->
            <div>
                <label class="block text-sm mb-2">Gender Preference</label>
                <select
                formControlName="genderPreference"
                class="py-2.5 sm:py-3 px-4 w-full border border-gray-300 rounded-lg sm:text-sm focus:outline-none focus:ring-[var(--color-primary)] focus:border-[var(--color-primary)]"
                >
                    <option value="boys">Boys</option>
                    <option value="girls">Girls</option>
                    <option value="unisex">Unisex</option>
                </select>
            </div>

            <!-- Terms -->
            <div class="flex items-start">
                <input
                type="checkbox"
                formControlName="terms"
                class="shrink-0 mt-0.5 border-gray-300 rounded-sm text-[var(--color-primary)] focus:ring-[var(--color-primary)]"
                />
                <label class="ms-3 text-sm">
                    I confirm that all details provided are accurate and agree that my listing may be removed if it violates any
                    <a href="#" class="text-[var(--color-primary)] decoration-1 hover:underline">Terms and Conditions</a>.
                </label>
            </div>
            <p *ngIf="submitted && pf['terms'].errors?.['required']" class="text-xs text-red-600 mt-1">
                You must accept the terms.
            </p>

            <!-- Server Error -->
            <div *ngIf="serverError" class="mt-2 bg-red-100 text-sm text-red-700 rounded-lg p-4">
                {{ serverError }}
            </div>

            <!-- Submit Button -->  
            <button
                type="submit"
                (click)="onSubmit()"
                [disabled]="loading"
                class="w-full py-3 px-4 text-white rounded-lg bg-[var(--color-primary)] hover:bg-[var(--color-primary-elevated)] disabled:opacity-50 disabled:cursor-not-allowed flex items-center justify-center"
            >
                <span *ngIf="!loading">Submit Property</span>
                <div *ngIf="loading" class="animate-spin inline-block size-6 border-3 border-current border-t-transparent text-white rounded-full" role="status">
                <span class="sr-only">Submitting…</span>
                </div>
            </button>
        </div>
    </form>
</div>
