<div class="max-w-[85rem] mx-auto">
    <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-4 sm:gap-6">

        <!-- Card -->
        <div class="flex flex-col bg-white border border-gray-200 shadow-2xs rounded-xl">
        <div class="p-4 md:p-5 flex gap-x-4">
            <div class="shrink-0 flex justify-center items-center size-11 bg-[var(--color-secondary-elevated)] rounded-lg">
                <i class="fa fa-users text-blue-600" aria-hidden="true"></i>
            </div>

            <div class="grow">
            <div class="flex items-center gap-x-2">
                <p class="text-xs uppercase text-gray-500">
                Total Users
                </p>
            </div>
            <div class="mt-1 flex items-center gap-x-2">
                <h3 class="text-xl font-medium">
                298
                </h3>
            </div>
            </div>
        </div>
        </div>
        <!-- End Card -->

        <!-- Card -->
        <div class="flex flex-col bg-white border border-gray-200 shadow-2xs rounded-xl">
        <div class="p-4 md:p-5 flex gap-x-4">
            <div class="shrink-0 flex justify-center items-center size-11 bg-[var(--color-secondary-elevated)] rounded-lg">
                <i class="fa fa-home text-orange-400" aria-hidden="true"></i>
            </div>

            <div class="grow">
            <div class="flex items-center gap-x-2">
                <p class="text-xs uppercase text-gray-500">
                Available Properties 
                </p>
            </div>
            <div class="mt-1 flex items-center gap-x-2">
                <h3 class="text-xl font-medium">
                522
                </h3>
            </div>
            </div>
        </div>
        </div>
        <!-- End Card -->

        <!-- Card -->
        <div class="flex flex-col bg-white border border-gray-200 shadow-2xs rounded-xl">
        <div class="p-4 md:p-5 flex gap-x-4">
            <div class="shrink-0 flex justify-center items-center size-11 bg-[var(--color-secondary-elevated)] rounded-lg">
                <i class="fa fa-check text-green-600" aria-hidden="true"></i>
            </div>

            <div class="grow">
            <div class="flex items-center gap-x-2">
                <p class="text-xs uppercase text-gray-500">
                Sold Properties 
                </p>
            </div>
            <div class="mt-1 flex items-center gap-x-2">
                <h3 class="text-xl font-medium">
                129
                </h3>
            </div>
            </div>
        </div>
        </div>
        <!-- End Card -->

        <!-- Card -->
        <div class="flex flex-col bg-white border border-gray-200 shadow-2xs rounded-xl">
        <div class="p-4 md:p-5 flex gap-x-4">
            <div class="shrink-0 flex justify-center items-center size-11 bg-[var(--color-secondary-elevated)] rounded-lg">
                <i class="fa fa-briefcase text-violet-600" aria-hidden="true"></i>
            </div>

            <div class="grow">
            <div class="flex items-center gap-x-2">
                <p class="text-xs uppercase text-gray-500">
                Total Employees
                </p>
            </div>
            <div class="mt-1 flex items-center gap-x-2">
                <h3 class="text-xl font-medium">
                298
                </h3>
            </div>
            </div>
        </div>
        </div>
        <!-- End Card -->
    </div>
</div>