<!-- Hero -->
<section class="hero-section">
  <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 py-10 sm:py-24">
    <div class="text-center">
      <h1 class="text-4xl sm:text-6xl font-semibold text-white">
        Find compatible Rooms & PGs
      </h1>

      <p class="mt-3 text-lg sm:text-xl text-[var(--color-secondary)]">
        Like Home, Away From Home
      </p>

      <div class="mt-7 sm:mt-12 mx-auto max-w-xl relative">
        <!-- Form -->
        <form>
          <div class='max-w-md mx-auto'>
            <div class="relative flex items-center w-full h-12 rounded-lg focus-within:shadow-lg bg-white overflow-hidden">
                <div class="grid place-items-center h-full w-12 text-gray-300">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                    </svg>
                </div>

                <input
                class="peer h-full w-full outline-none text-sm text-gray-700 pr-2"
                type="text"
                id="search"
                placeholder="Search places.." /> 
            </div>
          </div>
        </form>
        <!-- End Form -->
      </div>

      <div class="mt-10 sm:mt-20">
        <a class="m-1 py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-[var(--color-secondary-elevated)] text-gray-800 shadow-2xs disabled:opacity-50 disabled:pointer-events-none" href="#">
            <svg 
            class="shrink-0 size-4" 
            xmlns="http://www.w3.org/2000/svg" 
            width="24" height="24" 
            viewBox="0 0 25 25" 
            fill="none" 
            stroke="currentColor" 
            stroke-width="2" 
            stroke-linecap="round" 
            stroke-linejoin="round">
                <path 
                    d="M5.28,7.2H18.67a1.91,1.91,0,0,1,1.91,1.91v6.7a0,0,0,0,1,0,0H5.28a0,0,0,0,1,0,0V7.2A0,0,0,0,1,5.28,7.2Z">
                </path>
                <circle class="cls-1" cx="5.28" cy="20.59" r="1.91"></circle>
                <circle class="cls-1" cx="20.59" cy="20.59" r="1.91"></circle>
                <line class="cls-1" x1="5.28" y1="18.67" x2="5.28" y2="15.8"></line>
                <line class="cls-1" x1="20.59" y1="18.67" x2="20.59" y2="15.8"></line>
                <polyline class="cls-1" points="5.28 8.15 5.28 3.37 0.5 1.46"></polyline>
                <path class="cls-1" d="M12.93,2.41h0a3.83,3.83,0,0,1,3.83,3.83v1a0,0,0,0,1,0,0H9.11a0,0,0,0,1,0,0v-1a3.83,3.83,0,0,1,3.83-3.83Z"></path>
                <line class="cls-1" x1="12.93" y1="0.5" x2="12.93" y2="2.41"></line>
            </svg>
            PG
        </a>

        <a class="m-1 py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-[var(--color-secondary-elevated)] text-gray-800 shadow-2xs disabled:opacity-50 disabled:pointer-events-none" href="#">
            <svg 
            class="shrink-0 size-4" 
            xmlns="http://www.w3.org/2000/svg" 
            width="24" 
            height="24" 
            viewBox="0 0 24 24" 
            fill="none" 
            stroke="currentColor" 
            stroke-width="2" 
            stroke-linecap="round" 
            stroke-linejoin="round">
            <path 
                d="m4 12 8-8 8 8M6 10.5V19a1 1 0 0 0 1 1h3v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h3a1 1 0 0 0 1-1v-8.5"/>
            </svg>
            Room
        </a>

        <a class="m-1 py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-[var(--color-secondary-elevated)] text-gray-800 shadow-2xs disabled:opacity-50 disabled:pointer-events-none" href="#">
            <svg 
            class="shrink-0 size-4" 
            xmlns="http://www.w3.org/2000/svg" 
            width="24" 
            height="24" 
            viewBox="0 0 24 24" 
            fill="none" 
            stroke="currentColor" 
            stroke-width="2" 
            stroke-linecap="round" 
            stroke-linejoin="round">
            <path 
                d="M6 4h12M6 4v16M6 4H5m13 0v16m0-16h1m-1 16H6m12 0h1M6 20H5M9 7h1v1H9V7Zm5 0h1v1h-1V7Zm-5 4h1v1H9v-1Zm5 0h1v1h-1v-1Zm-3 4h2a1 1 0 0 1 1 1v4h-4v-4a1 1 0 0 1 1-1Z"/>
            </svg>
          Flat
        </a>

        <a class="m-1 py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-[var(--color-secondary-elevated)] text-gray-800 shadow-2xs disabled:opacity-50 disabled:pointer-events-none" href="#">
            <svg 
                class="shrink-0 size-5" 
                viewBox="0 0 64 64" 
                xmlns="http://www.w3.org/2000/svg" 
                stroke-width="3" 
                stroke="currentColor" 
                fill="none">
                <circle cx="31.89" cy="22.71" r="5.57"></circle>
                <path d="M43.16,43.74A11.28,11.28,0,0,0,31.89,32.47h0A11.27,11.27,0,0,0,20.62,43.74Z"></path>
                <circle cx="48.46" cy="22.71" r="5.57"></circle>
                <path d="M46.87,43.74H59.73A11.27,11.27,0,0,0,48.46,32.47h0a11.24,11.24,0,0,0-5.29,1.32"></path>
                <circle cx="15.54" cy="22.71" r="5.57"></circle>
                <path d="M17.13,43.74H4.27A11.27,11.27,0,0,1,15.54,32.47h0a11.24,11.24,0,0,1,5.29,1.32"></path>
            </svg>
            Hostel
        </a>
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->


<section class="flex flex-col items-start bg-[var(--color-secondary-elevated)] py-15 px-10 sm:px-15 lg:px-25">
  <div class="heading text-3xl sm:text-5xl font-semibold text-gray-800 mb-3">
    Discover our most popular cities
  </div>

  <p class="text-gray-800 text-xl mb-15">
    The best solutions in the coolest cities, you just need to book.
  </p>

  <div class="grid sm:grid-cols-3 w-full lg:grid-cols-5 items-center gap-2">
    <a *ngFor="let city of cities" 
       [href]="city.link" 
       class="flex flex-col group bg-[var(--color-secondary)] shadow-2xs rounded-xl overflow-hidden hover:shadow-lg focus:outline-hidden focus:shadow-lg transition">

      <div class="relative pt-[50%] sm:pt-[60%] lg:pt-[80%] rounded-t-xl overflow-hidden">
        <img class="size-full absolute top-0 start-0 object-cover group-hover:scale-105 group-focus:scale-105 transition-transform duration-500 ease-in-out rounded-t-xl" 
             [src]="city.img" 
             [alt]="city.title">
      </div>

      <div class="p-4 md:p-5">
        <h3 class="text-lg font-bold text-gray-800">{{ city.title }}</h3>
        <p class="mt-1 text-gray-500">{{ city.description }}</p>
      </div>
    </a>
  </div>
</section>

<!-- Icon Blocks -->
<section class="flex flex-col items-start bg-[var(--color-secondary)] py-15 px-10 sm:px-15 lg:px-25">

  <div class="heading text-3xl sm:text-5xl font-semibold text-gray-800 mb-15">
    Why book with us
  </div>

  <div class="grid sm:grid-cols-2 w-full lg:grid-cols-3 items-center gap-2">
    <!-- Icon Block -->
    <div class="group flex flex-col justify-center rounded-xl p-4 md:p-7" href="#">
      <div class="flex justify-center items-center size-12 bg-[var(--color-primary)] rounded-xl">
        <svg class="shrink-0 size-6 text-white" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect width="10" height="14" x="3" y="8" rx="2"/><path d="M5 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v16a2 2 0 0 1-2 2h-2.4"/><path d="M8 18h.01"/></svg>
      </div>
      <div class="mt-5">
        <h3 class="text-2xl font-semibold text-gray-800">Verified apartments</h3>
        <p class="mt-3 text-gray-600">To book you just need to click on "Rent Now". Enter the dates and send the request.</p>
      </div>
    </div>
    <!-- End Icon Block -->

    <!-- Icon Block -->
    <div class="group flex flex-col justify-center rounded-xl p-4 md:p-7" href="#">
      <div class="flex justify-center items-center size-12 bg-[var(--color-primary)] rounded-xl">
        <svg class="shrink-0 size-6 text-white" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"/><path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"/></svg>
      </div>
      <div class="mt-5">
        <h3 class="text-2xl font-semibold text-gray-800">Rent with one click</h3>
        <p class="mt-3 text-gray-600">The Kotha team personally visits all the apartments on the platform. You will find the house exactly as you saw it in the picture.</p>
      </div>
    </div>
    <!-- End Icon Block -->

    <!-- Icon Block -->
    <div class="group flex flex-col justify-center rounded-xl p-4 md:p-7" href="#">
      <div class="flex justify-center items-center size-12 bg-[var(--color-primary)] rounded-xl">
        <svg class="shrink-0 size-6 text-white" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M14 9a2 2 0 0 1-2 2H6l-4 4V4c0-1.1.9-2 2-2h8a2 2 0 0 1 2 2v5Z"/><path d="M18 9h2a2 2 0 0 1 2 2v11l-4-4h-6a2 2 0 0 1-2-2v-1"/></svg>
      </div>
      <div class="mt-5">
        <h3 class="text-2xl font-semibold text-gray-800">A team dedicated to you</h3>
        <p class="mt-3 text-gray-600">We are available h24 to help you with research, booking and even afterwards if you have a need.</p>
      </div>
    </div>
    <!-- End Icon Block -->
  </div>
</section>
<!-- End Icon Blocks -->